<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/index.css">
        <link rel="stylesheet" href="/styles/modal.css">
        <link rel="stylesheet" href="/styles/main.css">
        <script defer src="/scripts/modal.js"></script>
        <title>agenda.dev</title>
    </head>
    <body>
        <div class="container">
        
            <header>
                <h1 id="title">agenda.dev</h1>

                <a href="create"><img src="/images/plus.svg" alt="Novo contato">Adicionar contato</a>
            </header>

            <main>
                <p>Total: <%= Contacts.length %> </p>

                <% Contacts.forEach(contact => { %>

                    <div class="contact" data-id="<%= contact.id %> ">
                        <div class="contact-info">
                            <span id="id"> <%= contact.id %>  </span>
                            <div class="contact-name">
                                <h2><%= contact.name %>  <%= contact.lastname %> </h2>
                                <a href="<%= contact.github %> "><img width="24px" src="/images/github.svg" alt="Github.com"></a>
                            </div>
                        </div>
    
                        <div class="contact-actions">
                            <a class="edit" href="/edit/<%= contact.id %> "><img src="/images/edit.svg" alt="Editar"></a>
                            <a class="delete" href="#"><img src="/images/trash.svg" alt="Deletar"></a>
                        </div>
                    </div>

                    <div class="modal">
                        <div class="warning">
                            <img src="/images/trash-48.svg" alt="Excluir">
                            <span>Deseja excluir este contato?</span>
        
                            <div class="buttons-group">
                                <button form="delete-contact" type="submit" id="modal-delete" href="#">Excluir</button>
                                <a id="modal-back" href="/">Voltar</a>
                            </div>
                        </div>
        
                        <form id="delete-contact" action="/delete/<%= contact.id %>" method="post"></form>
                    </div>

                <% }) %> 
 
            </main>

            <%- include('parts/footer') %> 
        </div>
    </body>
</html>